name: WMO FOSS Guide

on:
  push:
    branches:
    - main

env:
  FILE_BASENAME: wmo-foss-guide-DRAFT

jobs:
  build-wmo-foss-guide:
    name: Generate documentation
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update -y \
          && sudo apt-get install -y pandoc \
          && sudo gem install asciidoctor asciidoctor-pdf
      - name: checkout repository
        uses: actions/checkout@master
      - name: build documentation
        run: |
          mkdir -p /tmp/wmo-foss-guide/guide/images \
          && cd guide \
          && asciidoctor --trace -a stylesheet=css/wmo-asciidoc.css -o /tmp/wmo-foss-guide/guide/${FILE_BASENAME}.html index.adoc \
          && asciidoctor --trace --backend docbook --out-file - index.adoc | pandoc --from docbook --to docx --output /tmp/wmo-foss-guide/guide/${FILE_BASENAME}.docx \
          && asciidoctor --trace -r asciidoctor-pdf --trace -b pdf -o /tmp/wmo-foss-guide/guide/${FILE_BASENAME}.pdf index.adoc \
          && cd ..
      - name: checkout gh-pages branch
        uses: actions/checkout@master
        with:
          ref: gh-pages
      - name: update gh-pages branch and publish
        run: | 
          git checkout gh-pages
          git config --global user.email "tomkralidis@gmail.com"
          git config --global user.name "Tom Kralidis"
          rm -rf guide
          mv -f /tmp/wmo-foss-guide/* .
          git add .
          git commit -am "update WMO FOSS Guide build"
          git push

